{
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "proseWrap": "always",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "importOrder":[
      "^react$",
      "^react-dom$",
      "^next$",
      "^next/router$",
      "^next/link$",
      "^next/image$",
      "^@core/(.*)$",
      "^@shared/(.*)$",
      "^@modules/(.*)$",
      "^@services/(.*)$",
      "^@utils/(.*)$",
      "^@assets/(.*)$",
      "^@styles/(.*)$",
      "^@hooks/(.*)$",
      "^@context/(.*)$",
      "^@components/(.*)$",
      "^@pages/(.*)$",
      "^@layouts/(.*)$",
      "^@routes/(.*)$",
      "^@config/(.*)$",
      "^@types/(.*)$",
      "^@/(.*)$",
      "^\\./(.*)$"
    ],
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
  }